{:paths ["src" "resources"]
 :deps {borkdude/edamame {:mvn/version "1.4.27"}}
 :tasks
 {test {:extra-paths ["test"]
        :exec-fn deintroverter.test-runner/run}
  spec {:doc "Run all tests (clj-mutate default runner)"
        :extra-paths ["test"]
        :exec-fn deintroverter.test-runner/run}
  deintroverter {:requires [[deintroverter.core :as core]]
                 :exec-fn core/-main}
  check-parens {:doc "Check Clojure paren balance and readability of a file"
                :requires [[check-parens :as cp]]
                :extra-paths ["scripts"]
                :task (apply cp/-main *command-line-args*)}}}