{:paths ["src" "resources"]
 :deps {borkdude/edamame {:mvn/version "1.4.27"}}
 :tasks
 {test {:extra-paths ["test"]
        :exec-fn deintroverter.test-runner/run}
  deintroverter {:requires [[deintroverter.core :as core]]
                 :exec-fn core/-main}}}